<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Eleições</title>
</head>
<body>
    <h2>Cadastrar Eleições</h2>
    <form action="/eleicoes/cadastrar" method="POST">
        <label for="data_eleicao">Data da eleição:</label>
        <input type="date" id="data_eleicao" name="data_eleicao" required><br>
        <label for="local_eleicao">Local da eleição:</label>
        <input type="text" id="local_eleicao" name="local_eleicao" required><br>
        <label for="descricao_eleicao">Descrição da Eleição:</label>
        <input type="text" id="descricao_eleicao" name="descricao_eleicao" required><br>
        <label for="nome">Nome da eleição:</label>
        <input type="text" id="nome" name="nome" required><br>
        <button type="submit">Adicionar Eleição</button>
    </form>
    <br><br>
    <a href="/welcome">Cancelar</a>
</body>
</html>
