<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Candidatos em votações</title>
</head>

<body>
    <h2>Por fim, vincule os candidatos nas votações!</h2>
    <form action="/addVotacoes/cadastrar" method="POST">
        <label for="candidato_id">ID do candidato:</label>
        <input type="text" id="candidato_id" name="candidato_id" required><br>
        <label for="eleicao_id">ID da eleição:</label>
        <input type="text" id="eleicao_id" name="eleicao_id" required><br>

        <button type="submit">Adicionar</button>
    </form>
    <br><br>
    <a href="/welcome">Cancelar</a>
</body>

</html>