<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Eleições</title>
</head>
<body>
    <h2>Primeiro, cadastre as eleições</h2>
    <form action="/eleicoes/cadastrar" method="POST">
        <label for="data">Data da eleição:</label>
        <input type="date" id="data" name="data" required><br>
        <label for="local">Local da eleição:</label>
        <input type="text" id="local" name="local" required><br>
        <label for="nome">Nome da eleição:</label>
        <input type="text" id="nome" name="nome" required><br>
        <button type="submit">Adicionar Eleição</button>
    </form>
    <br><br>
</body>
</html>
