<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cargos</title>
</head>

<body>
    <div id="pergunta">
        <p>Quer adicionar mais uma Votacao?</p>
        <form action="/votacoes/cadastrar">
            <button type="submit">Sim</button>
        </form>
        <a href="/addVotacoes/cadastrar"><button>Não</button></a>
    </div>
</body>

</html>
