<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Votado</title>
</head>

<body>
    <h2>Voto efetuado com sucesso!</h2>

    <a href="/welcomeEleitor">Cancelar</a>
</body>

</html>