<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Votado</title>
</head>

<body>

    <% if (temVotacao) { %>
        <h2>Nenhuma votação encontrada!</h2>
    <% } else { %>
        <h2>Votação encerrada com sucesso!</h2>
        <% } %>

    <a href="/welcome">Voltar</a>
</body>

</html>