<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo</title>
    <link href="https://getbootstrap.com//docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-
EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-body">
                <h2>Bem-vindo <%= usuario %>!</h2>
                <p>Tipo de usuário: <%= tipo %>
                </p>
                <a href="/candidatos" class="btn btn-primary">Ver candidatos</a>
                <a href="/eleicoes" class="btn btn-primary">Ver eleições</a>
                <a href="/chapas" class="btn btn-primary">Ver chapas</a>
                <a href="/eleitores" class="btn btn-primary">Ver eleitores</a>
                <!--<a href="/candidatos/cadastrar" class="btn btn-info">Cadastrar candidato</a>
                <a href="/cargos/cadastrar" class="btn btn-info">Cadastrar cargo</a>
                <a href="/eleicoes/cadastrar" class="btn btn-info">Cadastrar eleição</a>
                <a href="/chapas/cadastrar" class="btn btn-info">Cadastrar chapa</a>
                <a href="/candidatosChapa/cadastrar" class="btn btn-info">Cadastrar candidato em uma chapa e cargo</a>-->
                <a href="/login" class="btn btn-danger">Sair</a>
                <form action="/votacoes/encerrar" method="POST" style="display: inline;">
                    <button type="submit" class="btn btn-danger">Encerrar a votação</button>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-
alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-
urZbA+l6S4GHevO9TmBndXeLl7/J8SRvJq6etK0VNXQdW0Vjrm++8eZFCsVZ7k4V" crossorigin="anonymous"></script>
</body>

</html>